@mixin condtionStyling {
  display: flex;
  //   margin-bottom: 20px;
}

.viewall {
  .header {
    background-color: #e8e8e8;
    height: 180px;
    text-align: center;
  }
  .heading {
    h1 {
      padding-top: 10px;
      margin-bottom: 0 !important;
      font-weight: 900;
      color: rgba($color: #000000, $alpha: 0.5);
      font-style: italic;
    }
  }
  .conditions {
    width: 40%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    bottom: 20;
  }
  .filtering,
  .sorting {
    @include condtionStyling();
  }

  .form-control {
    margin-left: 15px !important;
  }
  .entries {
    width: 40%;
    margin: auto;
    margin-top: 30px;
  }
  .entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    p {
      margin: 0;
    }
  }
  .entry_heading {
    color: grey;
    text-transform: capitalize;
  }
  .entry_content {
    text-transform: capitalize;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .editIcon,
  .deleteIcon {
    color: grey;
    cursor: pointer;
  }
}
